# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.log
.vercel
